<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/initHome :: head"></div>
</head>

<body>
<!-- Body main wrapper start -->
<div class="wrapper">

    <!-- START HEADER AREA -->
    <header class="header-area header-wrapper">
        <!-- header-top-bar -->
        <div th:replace="fragments/navHome :: header"></div>
    </header>
    <!-- END HEADER AREA -->

    <!-- START MOBILE MENU AREA -->
    <div th:replace="fragments/navHome :: menuMobile"></div>
    <!-- END MOBILE MENU AREA -->

    <!-- BREADCRUMBS SETCTION START -->
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">Về chúng tôi</h1>
                            <ul class="breadcrumb-list">
                                <li><a th:href="@{/}">Trang chủ</a></li>
                                <li>Về chúng tôi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- ABOUT SECTION START -->
        <div class="about-section mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-left ">
                            <h2 class="uppercase">Thông tin ÔTôKê</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-photo p-20 bg-img-1">
                            <img th:src="@{/assets/teamplates/img/others/about.jpg}" alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="about-description mt-50">
                            <p>Xin chào... Chúng tôi là Mò Rí =))  </p>
                            <p>Chúng tôi đã và đang học tại FPT Polytechnic khóa 13.3 lớp 03-UDPM.</p>
                            <p>Nhóm chúng tôi gồm có 4 thành viên:</p>
                            <p> + Lương Minh Trí</p>
                            <p> + Nguyễn Đình Duyệt</p>
                            <p> + Bùi Văn Tấn</p>
                            <p> + Nguyễn Đức Quốc Triệu</p>
                            <p>Và ở giữa kia người phụ nữ quyền lực đó chính là U Loan ( biệt danh Loan Tròn :D ) </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ABOUT SECTION END -->

        <!-- TEAM SECTION START -->
        <div class="team-section mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-left ">
                            <h2 class="uppercase">Thành viên nhóm</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="active-team-member">
                        <!-- team-member start -->
                        <div class="col-md-12">
                            <div class="team-member box-shadow bg-shape">
                                <div class="team-member-photo">
                                    <img th:src="@{/assets/teamplates/img/team/3.png}" alt="">
                                </div>
                                <div class="team-member-info pt-20">
                                    <h5 class="member-name"><a href="#">Bùi Văn Tấn</a></h5>
                                    <p class="member-position">20 tuổi</p>
                                    <p class="mb-20">Dev tại Yotel</p>
                                    <p class="mb-20">Học tại FPT Polytechnic</p>
                                    <ul class="footer-social">
                                        <li>
                                            <a class="facebook" href="https://www.facebook.com/tanbui21899" title="Facebook" target="_blank"><i
                                                    class="zmdi zmdi-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="https://join.skype.com/invite/oZrUqv0Tje5V" title="Skype" target="_blank"><i class="zmdi zmdi-skype"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Instagram" target="_blank"><i
                                                    class="zmdi zmdi-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- team-member end -->
                        <!-- team-member start -->
                        <div class="col-md-12">
                            <div class="team-member box-shadow bg-shape">
                                <div class="team-member-photo">
                                    <img th:src="@{/assets/teamplates/img/team/3.png}" alt="">
                                </div>
                                <div class="team-member-info pt-20">
                                    <h5 class="member-name"><a href="#">Lương Minh Trí</a></h5>
                                    <p class="member-position">24 tuổi</p>
                                    <p class="mb-20">Làm việc tại gia</p>
                                    <p class="mb-20">Học tại FPT Polytechnic</p>
                                    <ul class="footer-social">
                                        <li>
                                            <a class="facebook" href="" title="Facebook" target="_blank"><i
                                                    class="zmdi zmdi-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Skype" target="_blank"><i class="zmdi zmdi-skype"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Instagram" target="_blank"><i
                                                    class="zmdi zmdi-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- team-member end -->
                        <!-- team-member start -->
                        <div class="col-md-12">
                            <div class="team-member box-shadow bg-shape">
                                <div class="team-member-photo">
                                    <img th:src="@{/assets/teamplates/img/team/3.png}" alt="">
                                </div>
                                <div class="team-member-info pt-20">
                                    <h5 class="member-name"><a href="#">Nguyễn Đình Duyệt</a></h5>
                                    <p class="member-position">20 tuổi</p>
                                    <p class="mb-20">Dev tại ABC123</p>
                                    <p class="mb-20">Học tại FPT Polytechnic</p>
                                    <ul class="footer-social">
                                        <li>
                                            <a class="facebook" href="" title="Facebook"><i
                                                    class="zmdi zmdi-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Skype"><i class="zmdi zmdi-skype"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Instagram"><i
                                                    class="zmdi zmdi-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- team-member end -->
                        <!-- team-member start -->
                        <div class="col-md-12">
                            <div class="team-member box-shadow bg-shape">
                                <div class="team-member-photo">
                                    <img th:src="@{/assets/teamplates/img/team/3.png}" alt="">
                                </div>
                                <div class="team-member-info pt-20">
                                    <h5 class="member-name"><a href="#">Nguyễn Đức Quốc Triệu</a></h5>
                                    <p class="member-position">21 tuổi</p>
                                    <p class="mb-20">Dev tại 123123</p>
                                    <p class="mb-20">Học tại FPT Polytechnic</p>
                                    <ul class="footer-social">
                                        <li>
                                            <a class="facebook" href="" title="Facebook"><i
                                                    class="zmdi zmdi-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Skype"><i class="zmdi zmdi-skype"></i></a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="" title="Instagram"><i
                                                    class="zmdi zmdi-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- team-member end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- TEAM SECTION END -->
    </section>
    <!-- End page content -->

    <!-- START FOOTER AREA -->
    <div th:replace="fragments/navHome :: footer"></div>
    <!-- END FOOTER AREA -->
</div>
<!-- Body main wrapper end -->
<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>