<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/initHome :: head"></div>
</head>
<style>
	input[type="text"], input[type="password"]{
		margin-bottom: 0px!important;
		margin-top: 20px!important;
	}
	textarea {
		margin-top: 20px!important;
	}
</style>
<body>
	<!-- Body main wrapper start -->
	<div class="wrapper">

		<!-- START HEADER AREA -->
		<header class="header-area header-wrapper">
			<!-- header-top-bar -->
			<div th:replace="fragments/navHome :: header"></div>
		</header>
		<!-- END HEADER AREA -->

		<!-- START MOBILE MENU AREA -->
		<div th:replace="fragments/navHome :: menuMobile"></div>
		<!-- END MOBILE MENU AREA -->

		<!-- BREADCRUMBS SETCTION START -->
		<div class="breadcrumbs-section plr-200 mb-80">
			<div class="breadcrumbs overlay-bg">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="breadcrumbs-inner">
								<h1 class="breadcrumbs-title">Liên hệ</h1>
								<ul class="breadcrumb-list">
									<li><a th:href="@{/}">Trang chủ</a></li>
									<li>Liên hệ</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BREADCRUMBS SETCTION END -->

		<!-- Start page content -->
		<section id="page-content" class="page-wrapper">

			<!-- ADDRESS SECTION START -->
			<div class="address-section mb-80">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="contact-address box-shadow">
								<i class="zmdi zmdi-pin"></i>
								<h6>Số 5, Đông Quan, Quan Hoa</h6>
								<h6>Cầu Giấy, Hà Nội</h6>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="contact-address box-shadow">
								<i class="zmdi zmdi-phone"></i>
								<h6>
									<a href="tel:0338070700">(+84) 338 070 700</a>
								</h6>
								<h6>
									<a href="tel:0983231999">(+84) 983 231 999</a>
								</h6>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="contact-address box-shadow">
								<i class="zmdi zmdi-email"></i>
								<h6>
									<a href="mailto:tanbv.dev@gmail.com">tanbv.dev@gmail.com</a>
								</h6>
<!--								<h6>-->
<!--									<a href="mailto:trilmph05520@fpt.edu.vn">trilmph05520@fpt.edu.vn</a>-->
<!--								</h6>-->
								<h6>
									<a href="mailto:duyetndph05701@fpt.edu.vn">duyetndph05701@fpt.edu.vn</a>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ADDRESS SECTION END -->

			<!-- GOOGLE MAP SECTION START -->
			<!--        <div class="google-map-section">-->
			<!--            <div class="container-fluid">-->
			<!--                <div class="google-map plr-185">-->
			<!--                    <div id="googleMap"></div>-->
			<!--                </div>-->
			<!--            </div>-->
			<!--        </div>-->
			<!-- GOOGLE MAP SECTION END -->

			<!-- MESSAGE BOX SECTION START -->
			<div class="message-box-section mt--50 mb-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="message-box box-shadow white-bg">
								<form id="contact-form" th:object="${report}"
									th:action="@{/report/save.html}" method="post">
									<div class="row">
										<div class="col-md-12">
											<h4 class="blog-section-title border-left mb-30">Góp ý</h4>
												<div th:if="${mapError != null && mapError.containsKey('error') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('error')}" th:text="${err}"></div>
										</div>
										
										<div class="col-md-6">
											<input type="text" th:field="*{name}" name="name"
												placeholder="Tên của bạn...">
											<div th:if="${mapError != null && mapError.containsKey('name') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('name')}" th:text="${err}"></div>
										</div>
										<div class="col-md-6">
											<input type="text" th:field="*{email}" name="email"
												placeholder="Email...">
											<div th:if="${mapError != null && mapError.containsKey('email') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('email')}" th:text="${err}"></div>
										</div>
										<div class="col-md-6">
											<input type="text" th:field="*{problem}" name="subject"
												placeholder="Vấn đề của bạn...">
											<div th:if="${mapError != null && mapError.containsKey('problem') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('problem')}" th:text="${err}"></div>
										</div>
										<div class="col-md-6">
											<input type="text" th:field="*{mobile}" name="phone"
												placeholder="Số điện thoại...">
											<div th:if="${mapError != null && mapError.containsKey('mobile') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('mobile')}" th:text="${err}"></div>
										</div>
										<div class="col-md-12">
											<textarea class="custom-textarea" th:field="*{opinion}"
												name="message" placeholder="Ý kiến của bạn"></textarea>
											<div th:if="${mapError != null && mapError.containsKey('opinion') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('opinion')}" th:text="${err}"></div>
											<button class="submit-btn-1 mt-30 btn-hover-1" type="submit">Gửi
												góp ý</button>
										</div>
									</div>
								</form>
								<p class="form-messege"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- MESSAGE BOX SECTION END -->
		</section>
		<!-- End page content -->

		<!-- START FOOTER AREA -->
		<div th:replace="fragments/navHome :: footer"></div>
		<!-- END FOOTER AREA -->
	</div>
	<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>