<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/initHome :: head"></div>
</head>
<style>
    input[type="text"], input[type="password"]{
        margin-bottom: 0px!important;
    }
    .disable-call-ajax {
        cursor: none !important;
    }
</style>

<body>

<!-- Body main wrapper start -->
<div class="wrapper">

    <!-- START HEADER AREA -->
    <header class="header-area header-wrapper">
        <!-- START IMPORT HEADER -->
        <div th:replace="fragments/navHome :: header"></div>
        <!-- END IMPORT HEADER -->
    </header>
    <!-- END HEADER AREA -->

    <!-- START MOBILE MENU AREA -->
    <div th:replace="fragments/navHome :: menuMobile"></div>
    <!-- END MOBILE MENU AREA -->

    <!-- BREADCRUMBS SETCTION START -->
    <input type="hidden" id="user" th:value="${session.userLogin.userName}">
    <input type="hidden" id="contextPath" th:value="@{/}">
    <div class="breadcrumbs-section plr-200 mb-80">
        <div class="breadcrumbs overlay-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <h1 class="breadcrumbs-title">Đổi mật khẩu</h1>
                            <ul class="breadcrumb-list">
                                <li><a th:href="@{/}">Trang chủ</a></li>
                                <li>Đổi mật khẩu</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMBS SETCTION END -->

    <!-- Start page content -->
    <div id="page-content" class="page-wrapper">

        <!-- LOGIN SECTION START -->
        <div class="login-section mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-4">
                        <div class="my-account-content" id="accordion2">
                            <!-- My Personal Information -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#personal_info">Đổi mật khẩu</a>
                                    </h4>
                                </div>
                                <div id="personal_info" class="panel-collapse collapse in" role="tabpanel">
                                    <div class="panel-body">
                                        <form>
                                            <div class="new-customers">
                                                <div class="p-30">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <label>Mật khẩu cũ&nbsp;<span style="color: red;">*</span></label>
                                                            <input type="password" id="oldPass" placeholder="Mật khẩu cũ">
                                                            <label style="color: red;font-size: 15px;" id="oldPassError"></label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label>Mật khẩu mới&nbsp;<span style="color: red;">*</span></label>
                                                            <input type="password" id="newPass" placeholder="Mật khẩu mới">
                                                            <label style="color: red;font-size: 15px;" id="newPassError"></label>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <label>Xác thực mật khẩu&nbsp;<span style="color: red;">*</span></label>
                                                            <input type="password" id="confirmPass" placeholder="Xác thực mật khẩu">
                                                            <label style="color: red;font-size: 15px;" id="confirmPassError"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button class="btn-call-ajax submit-btn-1 mt-20 btn-hover-1" type="button" id="reset">Lưu</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button class="submit-btn-1 mt-20 btn-hover-1 f-right" type="reset">Làm mới</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LOGIN SECTION END -->
    </div>
    <!-- End page content -->
    <!-- START FOOTER AREA -->
    <div th:replace="fragments/navHome :: footer"></div>
    <!-- END FOOTER AREA -->
</div>
<div th:replace="fragments/initHome :: commonScript"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var currUrl = /*[[@{/}]]*/ "";
    /*]]>*/
</script>
<script>
    $(document)
        .ajaxStart(function () {
            $('.btn-call-ajax').addClass('disable-call-ajax');
        })
        .ajaxComplete(function () {
            $('.btn-call-ajax').removeClass('disable-call-ajax');
        });

    $('#reset').on('click',function(){
        var oldPass = $('#oldPass').val();
        var newPass = $('#newPass').val();
        var confirmPass = $('#confirmPass').val();
        var user = $('#user').val();
        var valid = true;

        if(oldPass === null || oldPass === ''){
            $('#oldPassError').text("Mật khẩu cũ không được để trống");
            valid = false;
            $('#oldPass').focus();
        }else if(oldPass.length < 8){
            $('#oldPassError').text("Mật khẩu tối thiểu 8 kí tự");
            valid = false;
            $('#oldPass').focus();
        }else{
            $('#oldPassError').text('');
            valid = true;
        }

        if(newPass === null || newPass === ''){
            $('#newPassError').text("Mật khẩu mới không được để trống");
            valid = false;
            $('#newPass').focus();
        }else if(newPass.length < 8){
            $('#newPassError').text("Mật khẩu mới tối thiểu 8 kí tự");
            valid = false;
            $('#newPass').focus();
        }else if(newPass === oldPass){
            $('#newPassError').text("Mật khẩu mới trùng mật khẩu hiện tại");
            valid = false;
            $('#newPass').focus();
        } else{
            $('#newPassError').text('');
            valid = true;
        }

        if(confirmPass === null || confirmPass === ''){
            $('#confirmPassError').text("Xác thực mật khẩu không được để trống");
            valid = false;
            $('#confirmPass').focus();
        }else if(confirmPass.length < 8){
            $('#confirmPassError').text("Xác thực mật khẩu tối thiểu 8 kí tự");
            valid = false;
            $('#confirmPass').focus();
        }else if(confirmPass != newPass){
            $('#confirmPassError').text("Xác thực mật khẩu không trùng mật khẩu mới");
            valid = false;
            $('#confirmPass').focus();
        } else{
            $('#confirmPassError').text('');
            valid = true;
        }

        if(valid == true){
            $.ajax({
                url: currUrl + 'home/reset.html',
                method: 'POST',
                data: {
                    user : user,
                    oldPass : oldPass,
                    newPass : newPass
                },
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    var data = JSON.parse(response);
                    console.log(data)
                    if(data.oldPassErr != null){
                        $('#oldPassError').text(data.oldPassErr);
                    }
                    if(data.success != null){
                        $('#confirmPassError').text(data.success);
                        setTimeout(function(){
                            window.location.href = window.location.origin + $('#contextPath').val() + '/home/login.html';
                        },1500);
                    }
                }
            });
        }
    });
</script>
</body>

</html>