<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ô Tô Kê</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/teamplates/img/logo/logo-icon.png}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/lib/css/nivo-slider.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/core.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/shortcode/shortcodes.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/custom.css}">
    <link rel="stylesheet" th:href="@{/assets/teamplates/css/style-customizer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome/css/font-awesome.css}">
</head>
<body>
<div th:fragment="commonScript">
    <script type="text/javascript" th:src="@{/assets/teamplates/js/vendor/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/teamplates/lib/js/jquery.nivo.slider.js}"></script>
    <script type="text/javascript" th:src="@{/assets/teamplates/js/vendor/modernizr-2.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/teamplates/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/teamplates/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/assets/teamplates/js/main.js}"></script>
</div>
</body>
</html>