<div class="static-sidebar-wrapper sidebar-bluegraylight" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="static-sidebar" style="margin-top: 56px;">
        <div class="sidebar">
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li>
                            <a th:href="@{/index.html}"><i class="ti ti-home"></i><span>Trang chủ</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="ti ti-menu"></i><span>Quản lý</span></a>
                            <ul class="acc-menu">
                                <li>
                                    <a th:href="@{/partner/index.html}">
                                    <i class="ti ti-briefcase"></i>
                                    <span> Doanh nghiệp</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
