<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/init :: head"></div>
    <title>Title List</title>
    <link href="../../../resources/bootstrap-select-1.12.4/dist/css/bootstrap-select.css" rel="stylesheet"
          th:href="@{/resources/bootstrap-select-1.12.4/dist/css/bootstrap-select.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="bootstrap-daterangepicker/daterangepicker-bs3.css"
          th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>
    <link href="../../../resources/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet"
          th:href="@{/resources/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css}"/>
</head>
<style>

</style>
<body>
<div id="wrapper">
    <div id="nav_id" th:replace="nav :: div">
    </div>
    <div id="page-wrapper" style="min-height: 600px;">
        <!--        <div class="row">-->
        <!--            <div class="panel-body panel-info">-->
        <!--                <br><br><br>-->
        <!--                <form role="form" th:action="@{/admin/dashboard.html}" method="POST">-->
        <!--                    <div class="row">-->
        <!--                        <div class="col-lg-4">-->
        <!--                            <label>Từ ngày - đến ngày</label>-->
        <!--                            <div class="input-prepend input-group">-->
        <!--                                <span class="add-on input-group-addon"><i-->
        <!--                                        class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>-->
        <!--                                <input type="text" name="from_date" id="from_date" hidden="true"-->
        <!--                                       th:value="${from_date}"/>-->
        <!--                                <input type="text" name="to_date" id="to_date" hidden="true" th:value="${to_date}"/>-->
        <!--                                <input type="text" style="width: 100%" id="timePicker" class="form-control span4"-->
        <!--                                       value=" - " th:value="${from_date} + ' - ' + ${to_date}" readonly="readonly"/>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="col-sm-2">-->
        <!--                            <label>&nbsp;</label>-->
        <!--                            <div>-->
        <!--                                <button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm</button>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--                &lt;!&ndash; End form &ndash;&gt;-->
        <!--            </div>-->
        <!--            &lt;!&ndash; /.col-lg-12 &ndash;&gt;-->
        <!--        </div>-->
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="panel-body">
                            <canvas id="chartProduct"></canvas>
                            <label style="width: 100%;text-align: center;">Thống kê đơn đặt hàng 7 ngày gần nhất</label>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="panel-body">
                            <canvas id="chartBill"></canvas>
                            <label style="width: 100%;text-align: center;">Thống kê đơn hàng bị hủy 7 ngày gần
                                nhất</label>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<div th:replace="fragments/init :: commonScript"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript" src="bootstrap-select-1.12.4/bootstrap-select.js"
        th:src="@{/resources/bootstrap-select-1.12.4/dist/js/bootstrap-select.js}"></script>
<script src="../../resources/sb-admin-v2/js/jquery-1.10.2.js"
        th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
<script src="../../resources/sb-admin-v2/js/bootstrap.min.js"
        th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
<script src="../../resources/sb-admin-v2/js/bootstrap-switch.js"
        th:src="@{/resources/sb-admin-v2/js/bootstrap-switch.js}"></script>
<script src="../../resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js"
        th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<!-- Page-Level Plugin Scripts - Dashboard -->
<script src="../../resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js"
        th:src="@{/resources/sb-admin-v2/js/plugins/morris/raphael-2.1.0.min.js}"></script>
<script src="../../resources/sb-admin-v2/js/plugins/morris/morris.js"
        th:src="@{/resources/sb-admin-v2/js/plugins/morris/morris.js}"></script>
<!-- Page-Level Plugin Scripts - Tables -->
<script src="../../resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js"
        th:src="@{/resources/sb-admin-v2/js/plugins/dataTables/jquery.dataTables.js}"></script>
<link rel="stylesheet" type="text/css" media="all" href="bootstrap-daterangepicker/daterangepicker-bs3.css"
      th:href="@{/resources/bootstrap-daterangepicker/daterangepicker-bs3.css}"/>
<script type="text/javascript" src="bootstrap-daterangepicker/moment.js"
        th:src="@{/resources/bootstrap-daterangepicker/moment.js}"></script>
<script type="text/javascript" src="bootstrap-daterangepicker/daterangepicker.js"
        th:src="@{/resources/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script src="https://cdn.jsdelivr.net/autonumeric/2.0.0/autoNumeric.min.js"></script>

<script th:inline="javascript">
    var currUrl = /*[[@{/}]]*/ "";
    var pageIndex = /*[[${session.pageIndex}]]*/ "";
</script>
<!--<script>-->
<!--    $('#timePicker').daterangepicker({-->
<!--        "timePicker": true,-->
<!--        "timePicker24Hour": true,-->
<!--        "timePickerIncrement": 1,-->
<!--        "format": 'DD/MM/YYYY HH:mm',-->
<!--    }, function (start, end, label) {-->
<!--        $('#from_date').val(start.format('DD/MM/YYYY HH:mm'));-->
<!--        $('#to_date').val(end.format('DD/MM/YYYY HH:mm'));-->
<!--    });-->
<!--</script>-->
<script>
    $.ajax({
        url: currUrl + 'admin/chartBill',
        method: 'GET',
        contentType: 'application/json;charset=utf-8',
        success: function (response) {
            let dataChart = {};
            let dataLabels = [];
            let datasetsChart = [];
            let dataForDataSetChart = [];
            let dataDataSetChart = {};
            var data = JSON.parse(response);
            for (let each of data.response) {
                dataLabels.push(each.key);
                dataForDataSetChart.push(each.value);
                dataDataSetChart.data = dataForDataSetChart;
            }
            dataDataSetChart.label = 'Tổng số giải thưởng';
            dataDataSetChart.backgroundColor = 'rgba(0, 216, 255, 0)';
            dataDataSetChart.borderColor = 'rgba(255, 19, 248, 0.9)';
            datasetsChart.push(dataDataSetChart)
            dataChart.labels = dataLabels;
            dataChart.datasets = datasetsChart;

            var ctx = document.getElementById('chartProduct').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: dataChart,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        }
    });




    var ctx = document.getElementById('chartBill').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['15-11-2019', '16-11-2019', '17-11-2019', '18-11-2019', '19-11-2019', '20-11-2019'],
            datasets: [{
                label: 'Số lượng',
                data: [80, 51, 5, 8, 9, 1],
                backgroundColor: 'rgba(255, 99, 132, 0)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>

</html>
