<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/init :: head">
    <title>Title List</title>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 style="text-align: center;">Ô Tô Kê</h1>
            <div class="login-panel panel panel-default" style="margin-top:15%;">
                <div class="panel-heading">
                    <h3 class="panel-title">Đăng nhập</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/login.html" th:action="@{/admin/login.html}"  method="POST">
                        <fieldset>
                            <p th:if="${param.authentication_error}" style="color: red;font-size: 14px;">Sai tên đăng nhập hoặc mật khẩu</p>
                            <div class="form-group">
                                <input class="form-control" placeholder="Tên đăng nhập" id="username" name="username" type="text" autofocus="autofocus"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Mật khẩu" name="password" type="password" value=""/>
                            </div>
                            <button class="btn btn-lg btn-success btn-block">Đăng nhập</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!--  Your login attempt was not successful. -->
            <!-- You are not permitted to access that resource. -->
<!--            <div th:if="${param.authorization_error}" class="alert alert-dismissable alert-warning">-->
<!--                <i class="ti ti-alert"></i>&nbsp; <strong> Sai tài khoản hoặc mật khẩu.</strong>-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--            </div>-->
            <div th:if="${param.accessDinied}" class="alert alert-dismissable alert-warning">
                <i class="ti ti-alert"></i>&nbsp; <strong> Bạn không được quyền truy cập.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <!-- You have been logged out. -->
            <div th:if="${param.logout}" class="alert alert-dismissable alert-success">
                <i class="ti ti-check"></i>&nbsp; <strong>Đăng xuất thành công.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
</div>

<!-- Core Scripts - Include with every page -->
<script src="js/jquery-1.10.2.js" th:src="@{/resources/sb-admin-v2/js/jquery-1.10.2.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/resources/sb-admin-v2/js/bootstrap.min.js}"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js}"></script>

<!-- SB Admin Scripts - Include with every page -->
<script src="js/sb-admin.js" th:src="@{/resources/sb-admin-v2/js/sb-admin.js}"></script>

</body>

</html>
